In [26]:
import numpy as np
import pandas as pd

In [27]:
def potential(Z1, Z2, A, rho, B, sigma, C, r):
    
    return Z1*Z2/r + A*np.exp(-r/rho) + B*np.exp(-r/sigma) - C/(r**6)

#dE/dr = -F
def force(Z1, Z2, A, rho, B, sigma, C, r):
    
    return Z1*Z2/(r**2) + A*np.exp(-r/rho)/rho + B*np.exp(-r/sigma)/sigma - 6*C/(r**7)

# Bi3+ --- O2-

In [28]:
#metal units
step = 1.00e-04 # = 0.0001 A
coul_c = 14.3996 # eV·Å·e^−2

Z1 = 3*coul_c
Z2 = -2*coul_c
A = 323.0
rho = 0.41631
B = 5745.0
sigma = 0.27279
C = 0.00

BiO_table = []
r = step

for i in range(50000):
    BiO_table.append({'r': r,
                      'energy' : potential(Z1, Z2, A, rho, B, sigma, C, r),
                      'force': force(Z1, Z2, A, rho, B, sigma, C, r)})
    r += step
    
BiO_df = pd.DataFrame(BiO_table)

In [29]:
BiO_df.tail()

            r      energy      force
49995  4.9996 -248.836054 -49.766644
49996  4.9997 -248.831077 -49.764655
49997  4.9998 -248.826101 -49.762665
49998  4.9999 -248.821125 -49.760676
49999  5.0000 -248.816149 -49.758686

In [30]:
f= open("BiO.table","w+")
f.write("#BiO \n\n")
f.write("BiO \n")
f.write('N {} \n\n'.format(len(BiO_table)))
BiO_df.to_csv(r'BiO.table', sep = ' ', index = True)
f.close()

# O2- --- O2-

In [31]:
#metal units
step = 1.00e-04 # = 0.0001 A
coul_c = 14.3996 # eV·Å·e^−2

Z1 = -2*coul_c
Z2 = -2*coul_c
A = 1290.0
rho = 0.30110
B = 47683.4
sigma = 0.14438
C = 71.30

OO_table = []
r = step

for i in range(50000):
    OO_table.append({'r': r,
                      'energy' : potential(Z1, Z2, A, rho, B, sigma, C, r),
                      'force': force(Z1, Z2, A, rho, B, sigma, C, r)})
    r += step
    
OO_df = pd.DataFrame(OO_table)

In [32]:
f= open("OO.table","w+")
f.write("#OO \n\n")
f.write("OO \n")
f.write('N {} \n\n'.format(len(OO_table)))
OO_df.to_csv(r'OO.table', sep = ' ', index = True)
f.close()

# Bi3+ --- Bi3+

In [33]:
#metal units
step = 1.00e-04 # = 0.0001 A
coul_c = 14.3996 # eV·Å·e^−2

Z1 = 3*coul_c
Z2 = 3*coul_c
A = 15983.1
rho = 0.25643
B = 3087441.4
sigma = 0.10406
C = 40.36

BiBi_table = []
r = step

for i in range(50000):
    BiBi_table.append({'r': r,
                      'energy' : potential(Z1, Z2, A, rho, B, sigma, C, r),
                      'force': force(Z1, Z2, A, rho, B, sigma, C, r)})
    r += step
    
BiBi_df = pd.DataFrame(BiBi_table)

In [34]:
f= open("BiBi.table","w+")
f.write("#BiBi \n\n")
f.write("BiBi \n")
f.write('N {} \n\n'.format(len(BiBi_table)))
BiBi_df.to_csv(r'BiBi.table', sep = ' ', index = True)
f.close()